body {
    margin: auto;
    display: flex;
    padding: 100px;
    flex-flow: column;
    align-items: center;
    vertical-align: auto;
    justify-content: baseline;
    background-color: black;
}

.greeting {
    color: white;
}

form {
    margin: auto;
    padding: 25px;
    font-size: 1.75em;
    align-items: center;
    border: 5px solid black;
    /* display: inline-flex;
    vertical-align: center;
    flex-flow: column;
    justify-content: center; */
}
textarea {
    width: auto;
    height: auto;
}